.header {
  &__grid {
    display: grid;
    align-items: center;
    height: $header-height;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". header__page-title header__page-title ."
      ". header__arrow-decoration header__arrow-decoration ."
      ". . . .";
  }

  &__page-title {
    grid-area: header__page-title;
  }

  &__arrow-decoration {
    grid-area: header__arrow-decoration;
  }
}
