@media screen and (min-width: 600px) {
    .header {
        background-image: url("/dist/images/desktop/image-header.jpg");
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(600px, auto);
        grid-template-areas: "first second";
    }

    .about {
        &__img {
            height: unset;

            // add grid template areas (egg needs to trade spots with "transform"

            &-1 {
                background-image: url("/dist/images/desktop/image-transform.jpg");
                grid-area: second;
            }

            &-2 {
                background-image: url("/dist/images/desktop/image-stand-out.jpg");
            }
        }

        &__main {
            text-align: left;
            padding-top: 7em;
        }
    }

    .services {
        height: unset;
        &-1 {
            background-image: url("/dist/images/desktop/image-graphic-design.jpg");
        }

        &-2 {
            background-image: url("/dist/images/desktop/image-photography.jpg");
        }

        &__main {
            width: 75%;
            margin: 0 auto;
        }
    }

    .footer__imgs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: unset;
        grid-template-areas: "img-1 img-2 img-3 img-4";
    }
}

@media screen and (min-width: 600px) and (max-width: 781px) {
    :root {
        font-size: 14px;
    }

    .grid {
        grid-template-rows: minmax(400px, auto);
    }
}

@media screen and (min-width: 781px) {
    .hamburger-btn {
        display: none;
    }

    .menu {
        visibility: visible;
        left: unset;
        right: 35px;
        top: 35px;
        clip-path: none;

        &__list {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            background-color: unset;
            padding: 0;

            &-item--current .menu__link {
                background-color: white;
            }
        }

        &__link {
            color: white;
            padding: 1em 2em;
            border-radius: 50px;

            &:hover {
                color: white;
                background-color: rgba(255, 255, 255, 0.33);
                transition: background-color 0.3s ease-out;
                transition: color 0.3s ease-out;
            }
        }
    }
}
